.main {
    margin-top: 70px;

}

.main__promo {
    font-weight: 500;
    font-size: 36px;
    line-height: 160%;
    text-transform: uppercase;
    margin-bottom: 30px;
}


.main__partners {
    display: flex;
    flex-wrap: wrap;
    min-height: 120px;
    gap: 30px;
}

.main__partners-link {
    width: 270px;
    height: 120px;
    border: 1px solid #EBEBF1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    &:hover {
        box-shadow: -3px 0px 40px rgba(0, 0, 0, 0.1), 0px 0px 10px rgba(164, 164, 164, 0.03);
    }
}