
@import '_reset.scss';
@import '_header.scss';
@import '_main.scss';



@media (max-width: 768px) {
    .container {
        max-width: 728px;
    }
    .main__partners {
        gap: 20px;
    }
    .main__partners-link {
        width: 229px;
    }
}


@media (max-width: 375px) {
    .container {
        max-width: 335px;
    }
    .main__partners-link {
        width: 335px;
    }
    .header__left-search {
        display: none;
    }
    header {
        height: 105px;
        display: block;
    }
    .header__left {
        width: 50px;
    }
    .heqder__right {
        width: 60px;
    }
    .header__left-msearch {
        width: 100%;
        margin-left: 0;
        display: flex;
    }
    .header__left-mbtn{
        margin-left: 20px;
    }
    .header__left-minput{
        min-width: 86%;
        border-radius: 0;
        padding-left: 50px;
    }
    .heqder__right-human {
        display: none;
    }
}

